.section_project {
  margin-top: 60px;
  margin-bottom: 60px;
  .section_title {
    font-size: 30px;
    color: $title-color;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: $title-fonts;
  }
  .section_subtitle {
    font-size: 15px;
    color: $text-color-light;
  }
  .project_container {
    padding-bottom: 130px;
  }
  .owl-carousel {
    .owl-dots {
      .owl-dot {
        span {
          background-color: $text-color-light;
        }
      }
      .owl-dot.active {
        span {
          background-color: $title-color;
        }
      }
    }
  }
  .project_content {
    display: flex;
    justify-content: center;
    .card {
      max-width: 350px;
      background: none;
      .project_img {
        img {
          max-width: 100%;
          height: 220px;
          border-radius: 6px;
        }
      }
      .projects_subtitle {
        font-size: 15px;
        color: $text-color-light;
      }
      .projects_title {
        font-size: 18px;
        font-weight: $font-medium;
        margin-bottom: 14px;
      }
      .projects_button {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $title-color;
        border: none;
        &:hover {
          i {
            transform: translateX(5px);
          }
        }
        i {
          font-size: 18px;
          margin-left: 10px;
          transition: transform 0.4s;
        }
      }
    }
  }
}
