<footer class="footer">
  <div class="container">
    <div class="row">
      <h2 class="footer_title">Mostafa</h2>
      <p>Frontend Developer</p>
      <ul class="footer_link d-flex justify-content-center mb-5">
        <li>
          <a href="#Home">Home</a>
        </li>
        <li>
          <a href="#Skills">Skills</a>
        </li>
        <li>
          <a href="#Projects">Projects</a>
        </li>
      </ul>
      <ul class="footer_social-link d-flex justify-content-center mb-5">
        <li>
          <a
            href="https://www.linkedin.com/in/moustafa-amin-9b6904266/"
            target="_blank"
            class="ms-3 me-3"
          >
            <i class="ri-linkedin-box-line"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/moustafaamindev"
            target="_blank"
            class="ms-3 me-3"
          >
            <i class="ri-github-line"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=100057680225833"
            target="_blank"
            class="ms-3 me-3"
          >
            <i class="ri-facebook-line"></i>
          </a>
        </li>
      </ul>
    </div>
    <span class="footer_copy d-block">
      &#169; Copyright All rights reserved
    </span>
  </div>
</footer>
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-line"></i>
</a>
