<header class="header" id="header">
  <nav class="container">
    <div
      class="justify-content-between align-items-center align-content-center nav p-3"
    >
      <a href="#" class="nav_logo"> Mostafa. </a>

      <div class="nav_menu" id="nav-menu">
        <ul class="nav-list d-flex flex-row justify-content-between">
          <div class="d-flex flex-column flex-lg-row gap-3 text-capitalize">
            <li class="nav-item">
              <a href="#Home" class="nav-link">
                <i class="ri-home-5-line"></i>home
              </a>
            </li>
            <li class="nav-item">
              <a href="#Skills" class="nav-link">
                <i class="ri-briefcase-line"></i>skills
              </a>
            </li>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-3 text-capitalize">
            <!-- <li class="nav-item">
              <a href="#projects" class="nav-link">
                <i class="ri-image-line"></i>qulification
              </a>
            </li> -->
            <li class="nav-item">
              <a href="#services" class="nav-link">
                <i class="ri-trophy-line"></i>services
              </a>
            </li>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-3 text-capitalize">
            <li class="nav-item">
              <a href="#Projects" class="nav-link">
                <i class="ri-book-open-line"></i>projects
              </a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">
                <i class="ri-chat-3-line"></i>contact
              </a>
            </li>
          </div>
        </ul>

        <!-- close button -->
        <div class="nav_close" id="nav-close">
          <i class="ri-close-line"></i>
        </div>
      </div>

      <!-- button themes-->
      <div class="nav_buttons d-flex align-items-center gap-3 fs-4">
        <!-- theme change -->
        <i class="ri-moon-line change-theme-dark" id="theme-button-dark"></i>

        <i class="ri-sun-line change-theme-light" id="theme-button-light"></i>

        <!-- toggle button -->
        <div class="nav_toggle" id="nav-toggle">
          <i class="ri-menu-4-line"></i>
        </div>
      </div>
    </div>
  </nav>
</header>
