<section class="section_project mt-5" id="Projects">
  <div class="text-center mt-5 mb-5">
    <h2 class="section_title">Projects</h2>
    <span class="section_subtitle">Most recent work</span>
  </div>
  <div class="container">
    <div class="row border-bottom project_container">
      <div class="owl-carousel owl-theme">
        <!--============== start ogani project ===============-->

        <div class="item project_content">
          <div class="card border-0">
            <div class="project_img">
              <img
                src="./imgs/cart/ogani.png"
                class="card-img-top"
                alt="ogani"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title projects_subtitle">Web</h3>
              <p class="card-text projects_title">Vegetable Market</p>
              <a
                href="https://ogani-90e08.web.app/"
                class="btn projects_button ps-0 pe-0"
                target="_blank"
                >View demo <i class="ri-arrow-right-line"></i
              ></a>
            </div>
          </div>
        </div>

        <!--============== end ogani project ===============-->

        <!--============== start dashboard project ===============-->

        <div class="item project_content">
          <div class="card border-0">
            <div class="project_img">
              <img
                src="./imgs/cart/dashboard.png"
                class="card-img-top"
                alt="dashboard"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title projects_subtitle">Web</h3>
              <p class="card-text projects_title">Dashboard</p>
              <a
                href="https://mostafa-amin-dashboard.web.app/"
                class="btn projects_button ps-0 pe-0"
                target="_blank"
                >View demo <i class="ri-arrow-right-line"></i
              ></a>
            </div>
          </div>
        </div>

        <!--============== end dashboard project ===============-->

        <!--============== start redbart project ===============-->

        <div class="item project_content">
          <div class="card border-0">
            <div class="project_img">
              <img
                src="./imgs/cart/redbart.png"
                class="card-img-top"
                alt="redbart"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title projects_subtitle">Web</h3>
              <p class="card-text projects_title">Redbart</p>
              <a
                href="https://moustafaamindev.github.io/Redbart/"
                class="btn projects_button ps-0 pe-0"
                target="_blank"
                >View demo <i class="ri-arrow-right-line"></i
              ></a>
            </div>
          </div>
        </div>

        <!--============== end redbart project ===============-->

        <!--============== start studio project ===============-->

        <div class="item project_content">
          <div class="card border-0">
            <div class="project_img">
              <img
                src="./imgs/cart/studio.png"
                class="card-img-top"
                alt="studio"
              />
            </div>
            <div class="card-body">
              <h3 class="card-title projects_subtitle">Web</h3>
              <p class="card-text projects_title">Studio Store</p>
              <a
                href="https://mostafa-amin.web.app/"
                class="btn projects_button ps-0 pe-0"
                target="_blank"
                >View demo <i class="ri-arrow-right-line"></i
              ></a>
            </div>
          </div>
        </div>

        <!--============== end studio project ===============-->
      </div>
    </div>
  </div>
</section>
